name: "test chromatic"
on:
  pull_request:
  push:
    paths:
      - "src/stories/**"
      - "src/components/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
          with:
            fetch-depth: 0 # Required to retrieve git history
      - uses: chromaui/action@v1
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}